<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connectionString"
         providerName="MySql.Data.MySqlClient"
         connectionString=
  </connectionStrings>
  <appSettings>
    <add key="defaultUserLogin" value="0"/>
    <add key="reportFilePath" value="\\"/>
    <add key="fontSettings" value=""/>
  </appSettings>
</configuration>
