<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connectionString"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=THATCOMPUTER\SQLEXPRESS;Initial Catalog=RatingSystem;Integrated Security=True;Connect Timeout=15"/>
  </connectionStrings>
</configuration>