<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connectionString"
         providerName="MySql.Data.MySqlClient"
         connectionString="server=localhost;user id=user;password=pass21;database=ratingsystem"/>
  </connectionStrings>
</configuration>
<!--connectionString="server=85.143.48.247;port=3306;database=ratingsystem;user id=userRS;password=pass21"/>-->